<section >
   <img  class="w-100" src="assets/imgs/bannertop.png" alt="add-mobile" title="mobile">
</section>

<nav  >
    <div class="navbar_items" >
      <div class="d-flex justify-content-between py-1">
          <ul class="list-unstyled m-0">
              <li class="d-inline-block mx-2"><i></i> (+800) 123 456 7890</li>
              <li class="d-inline-block mx-2"><i></i> manager@shop.com</li>
            </ul>
            <ul class="list-unstyled m-0">
             <li class="d-inline-block mx-2"><i></i>Location store</li>
             <li class="d-inline-block mx-2"><i></i>Blog</li>
             <li class="d-inline-block mx-2"><i></i>Guarantee</li>
             <li class="d-inline-block mx-2"><i></i>Payment</li>
             <li class="d-inline-block mx-2"><i></i>Delivery</li>
             <li class="d-inline-block mx-2"><i></i>Register or Sign in</li>
           </ul>
      </div>

    </div>
</nav>
